body{
    font-family: sans-serif;
    margin: 0;
    
}
a{
    text-decoration: none;
    color: darkorange;
}
header{
    display: flex;
    min-height: 70px;
    justify-content: left;
    align-items:center;
    padding: 5px;
    background-color: rgb(0, 0, 0);
}
.logo{
    display: flex;
    align-items: center;
    /* text-shadow: 2px 2px 2px  rgb(44, 43, 43); */
}
.logo img{
    height: 55px;
    margin-right: 0px;
}
@media screen and (max-width: 680px) {
    header{
        flex-direction: column;
    }
    .container2{
        width: 100px;

    }
}
.container{
    display: flex;
    background-image: url(https://img.freepik.com/foto-gratis/fotografia-primer-plano-plato-base-gambas-al-ajillo_53876-104575.jpg?w=740&t=st=1666915052~exp=1666915652~hmac=d2177a048f23cfd27fd84e636908946300093c52b468f84e8ac9754e66179e94);
    background-size: cover;
    flex-direction: column;
    padding: 0ch;
    margin: 0ch;
    
    align-items: center;
}
.titulo-img{
    text-align: center;
    margin: 20px;
    align-self: center;
    /* background-color: rgba(173, 182, 141, 0.712); */
    border-radius: 20px 20px 0px 0px;
}
.titulo-img h1{
    background-color: rgba(216, 137, 18, 0.582);
    border-radius: 20px;
    padding: auto;
    margin: 2%;
    color: rgb(255, 255, 255);
    cursor: cell;
    text-shadow: 3px 3px 6px  rgb(44, 43, 43);
    
}
.titulo-img img{
    max-width: 100%;
    height: auto;
}
.container2{
    border-radius: 15px;
    background-color: rgba(206, 138, 36, 0.418);
    width: 680px;
    flex: 2;
    /* flex-direction: row-reverse; individualidad de cajas  */
}
.ingredientes{
    padding: 2%;
    margin: 20px;  
    border-style: solid;
    border-color: rgb(255, 102, 0);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-image: url(https://img.freepik.com/fotos-premium/mesa-madera-vacia-humo-flotando-sobre-fondo-oscuro_68495-135.jpg?w=740);
    background-size: cover;
    border-radius: 20px 0px 0px;
    background-color: rgb(211, 87, 87);
}
.preparacion{
    padding: 2%;
    margin: 20px;
    border-style: solid;
    border-color: rgb(255, 196, 0);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-image: url(https://img.freepik.com/fotos-premium/mesa-madera-vacia-humo-flotando-sobre-fondo-oscuro_68495-135.jpg?w=740);
    background-size: cover;
    border-radius: 0px 0px 20px ;
    background-color: coral;
}