body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: darkorange;
}
header{
    display: flex;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 249, 220);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 55px;
    margin-right: 0px;
}
@media (max-width: 680px) {
    header{
        flex-direction: column;
    }
    
}
.conteiner{
    
}