body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
    
}
.fondo{
    background-color: rgb(255, 249, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
.main{
    text-align: center;
    color: darkorange;
    padding: 20px;
    border-radius: 13px;
}
.lista{
    display: flex;
    /* justify-content: center;
    align-items: center;
    text-align: center; */ 
    padding: 20px;
    margin: 15px;
    background-color: darkorange;
    border-radius: 12px;
    color: rgb(255, 249, 220);
}
.lista ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 3px;
    padding: 0px 8px 0px 28px;
}
a{
    color: rgb(255, 249, 220);
    text-decoration: none;
    font-size: 13px;
}
.lista a:hover{
    color: rgb(160, 111, 20);
}
@media (max-width: 680px) {
    .fondo{
        flex-direction: column;
    }
    
}